.button {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.842);
    
    border: none;
    border-radius: 50%;

    width: 10em;

    font-family: 'Cinzel', sans-serif;
    font-size: medium;

    cursor: pointer;
  }

